<div class="container"> 
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="identificationData">
          <form [formGroup]="identificationData">
            <ng-template matStepLabel>Informacion de identificacion</ng-template>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Coloque sus nombres" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Coloque sus apellidos" formControlName="lastName" required>
              </mat-form-field>
              <div>
                <mat-form-field>
                    <mat-label>Cedula</mat-label>
                    <input matInput  pattern="^.{11,11}$" type = "number" minlength="11" placeholder="Coloque su cedula" formControlName="dni" required>
                    <mat-error *ngIf="flag">
                      El formato de la cedula es incorrecto
                    </mat-error>
                  </mat-form-field>
                  
              </div>
              <div>
                <mat-form-field>
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </div>
              <div>
                <label>Sexo: </label>
                <mat-radio-group formControlName="sexSelect">
                  <mat-radio-button value="auto" >Masculino</mat-radio-button>
                  <mat-radio-button value="always" >Femenino</mat-radio-button>
                </mat-radio-group>
              </div>
            <div>
              <button mat-button matStepperNext (click)="validatePersonalInfoFields()">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addressData">
          <form [formGroup]="addressData">
            <ng-template matStepLabel>Dirección</ng-template>
            <div>
              <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput #mapInput  formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
            </div>
            <div #mapContainer id="map" ></div>
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext (click)="validateAddressDataFields()">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="contactData">
          <form [formGroup]="contactData">
            <ng-template matStepLabel>Informacion de contacto</ng-template>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput  placeholder="Ex. pat@example.com" formControlName="email" required>
            </mat-form-field>
            <div>
              <mat-form-field>
                <mat-label>Numero de telefono celular</mat-label>
                <input matInput type="number" placeholder="EX. 8291023232" formControlName="cellPhoneNumber" required>
              </mat-form-field>
            </div>
              <div>
                <mat-form-field>
                    <mat-label>Numero telefono casa</mat-label>
                    <input matInput type="number" placeholder="EX. 8291023232" >
                  </mat-form-field>
              </div>
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext (click)="validateContactDataFields()">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="universityData">
          <form [formGroup]="universityData">
            <ng-template matStepLabel>Información de registro</ng-template>
            <h4>Seleccione el recinto universitario donde va a tomar clases</h4>
            <mat-form-field>
              <mat-label>Recintos</mat-label>
              <mat-select required formControlName="career">
                <mat-option *ngFor="let campus of campuses" [value]="campus.value">
                  {{campus.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <h4>Seleccione la carrera que desea cursar</h4>
            <mat-form-field>
              <mat-label>Carreras</mat-label>
              <mat-select required formControlName="campus">
                <mat-option *ngFor="let career of careers" [value]="career.value">
                  {{career.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext (click)="validateContactDataFields()">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmación</ng-template>
          <p>Por favor confirme que todos sus datos son correctos</p>
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button (click)="changeForm()">Confirmar datos</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
</div>
